main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.nutrients {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.nutrients-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.nutrients-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nutrients-item {
    margin: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.meals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
}